<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Let's play Foot, Nuke, Cockraoch!</h2>
    <form action="">
        <select name="selected">
            <option value="foot">Foot</option>
            <option value="nuke">Nuke</option>
            <option value="cockroach">Cockraoch</option>
        </select>
    <button>Submit!</button>
    </form>
    <h3>Computer chose: {{session.computer_choice}}</h3>
    <h3>You chose: {{session.you_chose}}</h3>
    <h3>Results: {{session.results}}</h3>
</body>
</html>